/*

#FDFDFD - white with a tint of light gray
#FFDB5C - yellow
#FE6594 - pink
*/

/* Homepage */
body {
    background-color: #FDFDFD;
    font-family: 'Roboto Slab', serif;
}

nav {
    margin: 1.5rem;
}

h6 {
    color: #FE6594
}

/* Logo */
#logo {
    color: #FFDB5C;
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
}

/* Navigation Bar */
.nav-item {
    font-family: 'Roboto Slab', serif;
    /* font-size: 1.5rem; maybe consider it to make it appear larger */
    font-weight: 300;
}

a {
    color: #FE6594;
}


.navbar-right a:hover {
    color: #FE6594;
}

.navbar-right  a::after {
    content: '';
    display: block;
    width: 0;
    height: 0.1rem;
    background: #FE6594;;
    transition: width 0.5s;
}

.navbar-right a:hover::after {
    width: 100%;
}


.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: transparent;
    text-shadow: 0px 1px #FE6594;
}

#btn-nav {
    margin-top: -50rem;
}

.btn {
    border: 0.1rem solid #FE6594;
    border-radius: 5rem;
    background-color: white;
    color: #FE6594;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    cursor: pointer;
    margin: 1em;
}

.btn:hover {
    color: #FE6594;
    box-shadow: 5px 5px #FFDB5C;
}

.col-12 p {
    color: #FE6594;
}

/* Main Screen on Homepage */
#CW {
    color: #FFDB5C;
    font-family: 'Pacifico', cursive;
}

#blockOne {
    margin-top: 20rem;
}

.col-md-6 h1 {
    margin: 20rem 10rem 3rem 10rem;
}

.col-md-6 h2 {
    margin-top: 4rem;
    margin-left: 10rem;
}


#typed {
    font-size: 36px;
    margin-left: 9rem;

}

/* iPhone Animation */

:root {
  --msg-content-height: 26.75em; /* 26.75*/
  --msg-spacing: 1em;
  --msg1-height: 5.5em;
  --msg2-height: 4em;
  --msg3-height: 2.5em;
  --msg4-height: 2.5em;
  --msg5-height: 4em;
  --msg6-height: 3.25em;
}

.msg-send {
    margin-top: 7rem;
    position: absolute;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.msg-container {
  width: 28em;
}

.msg-content {
  height: var(--msg-content-height);
}


/*Animation Names*/

#msg1 {
  animation-name: msg1;
}


/*Key Frames*/

@keyframes msg1 {
  0% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
    left: -4em;
    transform: scale(0);
  }
  5% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 0;
    left: 0;
  }
}

/**/


#page-container {
  width: 100%;
  height: 100%;
}

#dialog-container {
  /** border: dashed 2px pink; **/
  width: 282px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: left;
}

.dialog-box {
  position: relative;
  min-height: 80px;
  max-height: 180px;
  border-radius: 10px;
  margin-bottom: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
}

.dialog-box .header {
  height: 25px;
  position: relative;
  color: black;
}

.background-blur {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

.left {
  float: left;
  text-align: left;
  width: content-max;
  padding: 3px 0 0 10px;
}

.right {
  float: right;
  text-align: right;
  width: content-max;
  padding: 3px 10px 0 0;
}

.contents {
  z-index: 100;
  position: inherit;
  font-size: 0.8em;
}

.main-content {
  padding: 8px 20px 10px 10px;
  height: content-max;
}

img {
    width: 14px;
    height: 14px;
}

/************* PROVIDER SECTION **************/
/* Log Out Button */
.logOut {
    border: 0.1rem solid #FE6594;
    border-radius: 5rem;
    background-color: white;
    color: #FE6594;
    padding: 1rem 4rem;
    font-size: 1.25rem;
    cursor: pointer;
    margin: 1em;
}

.logOut:hover {
    color: #FE6594;
    box-shadow: 5px 5px #FFDB5C;
}


/* ===== Toggle Button ===== */
.switch {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 38px;
  margin-right: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 60px;
  left: 3px;
  bottom: 0.2rem;
  top: 0.2rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FE6594;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FE6594;
}

input:checked + .slider:before {
  -webkit-transform: translateX(64px);
  -ms-transform: translateX(64px);
  transform: translateX(64px);
}

#singleDayView{
  display: none;
}


/* ===== Rounded sliders ===== */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}



/* ===== Scheduled Calls Tables + Requested Calls Table ===== */
.tableContainer {
    margin-left: 3rem;
    margin-right: 3rem;
}


table.table-bordered{
    border:1px solid #FFDB5C;
    margin-top:20px;
}

table.table-bordered > thead > tr > th{
    color: #FE6594;
    border:1px solid #FFDB5C;
}

table.table-bordered > tbody > tr > td{
    border:1px solid #FFDB5C;
    background-color: #FFFFFF;
}

#SCtable tr td:first-child {
    background-color: #FDFDFD;
}

/* ===== Scheduled Calls Table ===== */
#SCheader {
    color: #FE6594;
}

table th {
    font-size: 2rem;
}

table p {
    color: #FE6594;
    font-weight: 300;
}

.panel2 {
    position: relative;
}

.scheduleFlip b {
    color: black;
}

.scheduleFlip span {
    color: #FE6594;
}

.scheduleFlip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #FFDB5C;
  color: white;
  border: solid 1px #D8D8D8;
  margin: auto;
}

#scheduledPanel h4, p {
    color: black;
    text-align: left;
}

#scheduledPanel p {
    font-style: 'Roboto Slab';
    font-weight: 300;
}

#scheduledPanel {
  display: none;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #E3E3E3;
  color: white;
  border: solid 1px #D8D8D8;
  margin: auto;
  position: absolute;
}

/* ===== ScheduleCall singleDayView ===== */
#SDVscheduledPanel h4, p {
    color: black;
    text-align: left;
}

#SDVscheduledPanel p {
    font-style: 'Roboto Slab';
    font-weight: 300;
}

#SDVscheduledPanel {
  display: none;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #E3E3E3;
  color: white;
  border: solid 1px #D8D8D8;
  margin: auto;
  position: absolute;
}

/* ===== Requested Calls Table ===== */
#RCheader {
    color: #FE6594;
    table-layout: fixed;
    width: 100%;
}

/* Panel */
.flip b {
    color: black;
}

.flip span {
    color: #FE6594;
}

#requestPanel h4, p {
    color: black;
    text-align: left;
}

#requestPanel p {
    font-style: 'Roboto Slab';
    font-weight: 300;
}

#requestPanel {
  display: none;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #E3E3E3;
  color: white;
  border: solid 1px #D8D8D8;
  margin: auto;
}

.selectCallbtn {
    display: block;
    width: 100%;
    border: none;
    background-color: #FE6594;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: right;
}

.flip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #FDFDFD;
  color: white;
  border: solid 1px #D8D8D8;
  margin: auto;
}
