<!DOCTYPE html>
<html lang="en">
<head>
    <title>Request A Demo</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Pacifico font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Roboto Slab font for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    <!-- iPhone -->
	  <link rel="stylesheet" href="/static/devices.min.css" type="text/css">

    <link rel="stylesheet" href="/static/CallWaiting.css">
    
    <script>
    $(function(){
        
        $("#nav").load("/static/nav.html");
        $("#footer").load("/static/footer.html");
    });
    </script>
</head>

<body>


    <!-- navigation -->
    <nav class="navbar navbar-light">
        <div id="nav"></div>
    </nav>


    <div class="main-text" style="width:700px;margin:auto">

        This is the request a demo page

    </div>


    <!--- Footer --->
    <footer>
        <div id="footer"></div>
    </footer>

</body>
</html>
