<!DOCTYPE html>
<html lang="en">
<head>
    <title>CallWaiting - How It Works</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Pacifico font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Roboto Slab font for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="CallWaiting.css">
	
	<script>
	$(function(){
        $("#nav").load("/static/nav.html");
        $("#footer").load("/static/footer.html");
    });
    </script>
</head>

<body>
	<!-- navigation -->
    <nav>
        <div id="nav"></div>
    </nav>

    <!--
    <form method="POST" action="/main">
        <p>Username: </p>
        <input name="customerUsername">
        <p>Password: </p>
        <input name="customerPassword">
        <input type="submit" name='login' value="User Login">
    </form>

    <a href="/register">Get a free account</a>

    <form method="POST" action="/main">
        <p>Username: </p>
        <input name="providerUsername">
        <p>Password: </p>
        <input name="providerPassword">
        <input type="submit" name='login' value="Provider Login">
    </form>
    -->

    <div class = "main-text" style="width:700px;margin:auto">
	  <p>
	  We've all been there: you call your insurance,
	  tax preparer, etc. for one reason or another.
	  Depending on the business, you may end up on hold
	  for a while. No one wants to spend their
	  precious time sitting around until an agent
	  is able to take their call.
      </p>
	  <p></p>
	  <p>
	  This is where CallWaiting comes in.
	  </p>
	  <p></p>
	  <p>
	  What we do is have you tell us who you need to contact
	  and when you can accept a call. We then take this
	  information and forward it to companies who can
	  then confirm those calls on a case by case basis.
	  Both you and the agent that will take your call
	  will be notified of this appointment. Once the time
	  comes, the agent will call you on behalf of the company.
	  </p>
	  <p></p>
	  <p>Easy, right?</p>
	  <p>
	  Normally, we all dread having to call our insurance
	  for the fifth time of the month just to be on hold
	  for an hour resulting with minimal solutions.
	  With this app, however, your time is not wasted
	  and you are more likely to get the answer that
	  you're looking for.
	  </p>
	  <p></p>
	  <em>- The CallWaiting Dev Team</em>
	  <p></p>
	</div>
	
    <!--- Footer --->
    <footer>
        <div id="footer"></div>
    </footer>

</body>
</html>
