<!DOCTYPE html>
<html>
    <head>
        <title>Call Waiting</title>
    </head>
    <html>
        <p>This is our awesome landing page. It's really cool....</p>
        
        <form method="POST" action="/main">
            <p>Username: </p>
            <input name="customerUsername">
            <p>Password: </p>
            <input name="customerPassword">
            <input type="submit" name='login' value="User Login">
        </form>
        <a href="/register">Get a free account</a>
        
        <form method="POST" action="/main">
            <p>Username: </p>
            <input name="providerUsername">
            <p>Password: </p>
            <input name="providerPassword">
            <input type="submit" name='login' value="Provider Login">
        </form>
        
    </html>
</html>