<!DOCTYPE html>
<html lang="en">
<head>
    <title>CallWaiting</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Pacifico font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Roboto Slab font for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    <!-- iPhone -->
	<link rel="stylesheet" href="devices.min.css" type="text/css">

    <link rel="stylesheet" href="CallWaiting.css" type="text/css">
	
	<link rel="stylesheet" href="login.css" type="text/css">
</head>

<body>


    <!-- navigation -->
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" id="logo">CallWaiting</a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <!-- right align -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="CallWaiting_Home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="CallWaiting_How_It_Works.html">How It Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="CallWaiting_Why.html">Why CallWaiting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="CallWaiting_Request_A_Demo.html">Request A Demo!</a>
                    </li>
                </ul>
			
				<button class="btn" onclick="openForm()">Customer Login</button>
					<div class="form-popup" id="myForm">
					  <form action="/action_page.php" class="form-container"><!--need to change-->
						<h1>Login</h1>

						<label for="email"><b>Email:</b></label>
						<input type="text" placeholder="Enter Email" name="email" required>

						<label for="psw"><b>Password:</b></label>
						<input type="password" placeholder="Enter Password" name="psw" required>

						<button type="submit" class="btn login">Login</button>
						<a href="create_an_account.html"><button type="button" class="btn create-an-account">Create an Account</button></a>
						<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
					  </form>
					</div>
				<button class="btn" onclick="openForm2()">Provider Login</button>
					<div class="form-popup" id="myForm2">
					  <form action="/action_page.php" class="form-container"><!--need to change-->
						<h1>Login</h1>

						<label for="email"><b>Email:</b></label>
						<input type="text" placeholder="Enter Email" name="email" required>

						<label for="psw"><b>Password:</b></label>
						<input type="password" placeholder="Enter Password" name="psw" required>

						<button type="submit" class="btn login">Login</button>
						<!--<a href="create_an_account.html"><button type="button" class="btn create-an-account">Create an Account</button></a>-->
						<button type="button" class="btn cancel" onclick="closeForm2()">Close</button>
					  </form>
					</div>				
            </div>
        </div>
    </nav>
<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
  closeForm2();
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}

function openForm2() {
  document.getElementById("myForm2").style.display = "block";
  closeForm();
}

function closeForm2() {
  document.getElementById("myForm2").style.display = "none";
}
</script>
    <!--
    <form method="POST" action="/main">
        <p>Username: </p>
        <input name="customerUsername">
        <p>Password: </p>
        <input name="customerPassword">
        <input type="submit" name='login' value="User Login">
    </form>

    <a href="/register">Get a free account</a>

    <form method="POST" action="/main">
        <p>Username: </p>
        <input name="providerUsername">
        <p>Password: </p>
        <input name="providerPassword">
        <input type="submit" name='login' value="Provider Login">
    </form>
    -->

    <!-- iPhone -->
    <div class="marvel-device iphone8 silver">
        <div class="top-bar"></div>
        <div class="sleep"></div>
        <div class="volume"></div>
        <div class="camera"></div>
        <div class="sensor"></div>
        <div class="speaker"></div>
        <div class="screen">
            <!-- Content goes here -->
        </div>
        <div class="home"></div>
        <div class="bottom-bar"></div>
    </div>

    <!--- Footer --->
    <footer>
      <div class = "container-fluid padding">
        <div class = "row text-center" id="footerlinks">
          <div class = "col-md-4">
            <p><a href="#">contact us</a></p>
            <p><a href="#">shipping</a></p>
            <p><a href="#">returns</a></p>
          </div>
          <div class = "col-md-4">
            <p><a href="#">terms & conditions</a></p>
            <p><a href="#">privacy policy</a></p>
            <p><a href="#">press</a></p>
          </div>
          <div class = "col-md-4">
            <h5>Follow Us!</h5>
            <p><a href="#">@RYUG</a></p>
          </div>
        </div>
        <div class = "col-12">
            <p>Made with ♥️ in Canton, Ohio</p>
        </div>
        <div class = "col-12">
          <h6>&copy; 2019, CallWaiting.</h6>
        </div>
      </div>

    </footer>

</body>
</html>