<!DOCTYPE html>
<html lang="en">
<head>
    <title> Manage {{ dash['get_company_name'] }}</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Pacifico font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Roboto Slab font for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="CallWaiting.css" type="text/css">
	
	<script type="text/javascript" src="js.js"></script>
</head>

<body>
	<!-- navigation -->
	
	<div id="calllimit" style="margin:15px;color:#FE6594;">
		<b>Call Limits</b>
		<div style="
			width:900px;
			margin-top:5px;
			border: 1px solid #FFDB5C;
			padding-top:15px;
			padding-left:15px;
			padding-bottom:15px;">
			<div>
				<label for="maxcalls"><b>Max Calls:</b></label>
				<input type="text" placeholder="get_call_limit" name="calllimit" required>
			</div>
			<div>
				<label for="maxcalllength"><b>Call Length Limit:</b></label>
				<input type="text" placeholder="get_call_length_limit" name="calllengthlimit" required>
			</div>
		</div>
	</div>
	
	<div id="agentlist" style="margin:15px;">
		<div style="color:#FE6594">
			<b>Agents</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" id="AddFormButton">Add</button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" id="RemoveFormButton">Remove</button>
			
			<form id="AddForm" style="display:none;background-color:#FDFDFD;width:400px;margin:20px 50px;">
				<h4>Add New Agent</h4>
				<div>
					<label for="email">Email:</label>
					<input type="text" placeholder="Enter Email" name="email" required>
				</div>
				<div>
					<label for="firstname">First Name:</label>
					<input type="text" placeholder="Enter First Name" name="firstname" required>
				</div>
				<div>
					<label for="lastname">Last Name:</label>
					<input type="text" placeholder="Enter Last Name" name="lastname" required>
				</div>
				<button type="button">Submit</button>
			</form>
			
			<form id="RemoveForm" style="display:none;background-color:#FDFDFD;width:400px;margin:20px 50px;">
				<h4>Remove Agent</h4>
				<div>
					<label for="agentid">ID:</label>
					<input type="text" placeholder="Enter ID" name="agentid" required>
				</div>
				<button type="button">Submit</button>
			</form>
		</div>

		<div style="
			width:900px;
			margin-top:5px;
			border: 1px solid #FFDB5C;
			padding-top:15px;
			padding-left:15px;
			padding-bottom:15px;"> 
			<!--list agent id, names here-->
			<!--Click on remove up then agent name to remove later?-->
			<!--get_company_agents(id)-->
			{% for result in dash['agentlist'] %}
				<tr>
					<td>result</td>
				</tr>
			{% endfor %}
		</div>
	</div>
	
    <!--- Footer --->

</body>
</html>