<!DOCTYPE html>
<html lang="en">
<head>
    <title> Manage "get_company_name"</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Pacifico font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Roboto Slab font for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="CallWaiting.css" type="text/css">
</head>

<body>
	<!-- navigation -->
	
	<div id="calllimit" style="margin:15px;color:#FE6594;">
		Call Limits
		<div style="
			width:900px;
			margin-top:5px;
			border: 1px solid #FFDB5C;
			padding-top:15px;
			padding-left:15px;
			padding-bottom:15px;">
			<div>
				<label for="maxcalls"><b>Max Calls:</b></label>
				<input type="text" placeholder="get_call_limit" name="calllimit" required>
			</div>
			<div>Call Length Limit: [box here]
				<label for="maxcalllength"><b>Call Length Limit:</b></label>
				<input type="text" placeholder="get_call_length_limit" name="calllengthlimit" required>
			</div>
		</div>
	</div>
	
	<div id="agentlist" style="margin:15px;">
		<div style="color:#FE6594">
			Agents&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn" onclick="openAddForm()">Add</button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn" onclick="openRemoveForm()">Remove</button>
			<div class="form-popup" id="AddForm">
				<form action="/main" class="form-container"><!--need to change-->
					<h1>Add New Agent</h1>

					<label for="email"><b>Email:</b></label>
					<input type="text" placeholder="Enter Email" name="email" required>

					<label for="firstname"><b>First Name:</b></label>
					<input type="text" placeholder="Enter First Name" name="firstname" required>

					<label for="lastname"><b>Last Name:</b></label>
					<input type="text" placeholder="Enter Last Name" name="lastname" required>
					
					<button type="submit" class="btn login">Submit</button>
					<button type="button" class="btn cancel" onclick="closeAddForm2()">Cancel</button>
				</form>
			</div>
			<div class="form-popup" id="RemoveForm">
				<form action="/main" class="form-container"><!--need to change-->
					<h1>Remove Agent</h1>

					<label for="agentid"><b>ID:</b></label>
					<input type="text" placeholder="Enter ID" name="agentid" required>
	
					<button type="submit" class="btn login">Submit</button>
					<button type="button" class="btn cancel" onclick="closeRemoveForm()">Cancel</button>
				</form>
			</div>
		</div>
		<div style="
			width:900px;
			margin-top:5px;
			border: 1px solid #FFDB5C;
			padding-top:15px;
			padding-left:15px;
			padding-bottom:15px;"> 
			<!--list agent id, names here-->
			<!--Click on remove up then agent name to remove later?-->
			<!--get_company_agents(id)-->
			ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paul Blart
		</div>
	</div>
	
    <!--- Footer --->

</body>
</html>