<!DOCTYPE html>
<html lang="en">
<head>
    <title>"Company Name" - Dashboard</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Pacifico font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Roboto Slab font for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="CallWaiting.css" type="text/css">
</head>

<body>
	<!-- navigation -->
	
	<div id="agentlist" style="margin:15px;">
		<div style="color:#FE6594">Agents</div>
		<div style="
			width:900px;
			margin-top:15px;
			border: 1px solid #FFDB5C;
			padding-top:15px;
			padding-left:15px;
			padding-bottom:15px;"> 
			<!--list agent names here
			Perhaps each name is a link to a dropdown
			menu with that agent's recent activity?-->
			<!--get_company_agents(id)-->
			Paul Blart
		</div>
	</div>

	<div style="color:#FE6594;margin:15px;">
		<a href="manage_business.html">Manage My Business</a>
	</div>
	
	<div style="color:#FE6594;margin:15px;">
		<a href="contact.html">Contact CallWaiting Representative</a>
	</div>
	
    <!--- Footer --->

</body>
</html>