<!DOCTYPE html>
<html lang="en">
<head>
    <title>CallWaiting</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="lib/typed.js" type="text/javascript"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Pacifico font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Roboto Slab font for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">

    <!-- Typed.js by Matt Boldt -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <!-- iPhone -->
	<link rel="stylesheet" href="devices.min.css" type="text/css">

    <link rel="stylesheet" href="CallWaiting.css">

</head>


<body>



    <!-- navigation -->
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" id="logo">CallWaiting</a>
            </div>

            <div class="collapse navbar-collapse" id="btn-nav">
                <!-- right align -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <button class="logOut" type="button">Log Out</button>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar">
                <!-- right align -->
                <ul class="nav navbar-nav navbar-right">
                    <label class="switch">
                         <input type="checkbox" checked>
                         <span class="slider round"></span>
                    </label>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Scheduled Calls Table -->
    <div class="container">
      <h2 id="SCheader">Scheduled Calls</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wedesneday</th>
            <th>Thursday</th>
            <th>Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Requested Calls Table -->
    <div class="container">
      <h2 id="RCheader">Requested Calls</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>



</body>
</html>
