body
{
	font-family: sans-serif;
	color: #3c3939;
	background-color: #f1f1f1;
}

.profile
{
	width: 400px;
	margin: auto;
	/*background: #fff;*/
	/*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);*/
	position: absolute;
    top: 50%;
	left: 40%;
    transform: translate(0, -50%)
}

.title
{
	font-family: 'Pacifico', cursive;
	color: #FE6594;
	position: absolute;
	bottom: 7px;
}

.image-container
{
	position: relative;
}

.info
{
	color: #FFDB5C;
	margin-right: 16px;
}

.main-container
{
	font-family: 'Roboto Slab', serif;
	padding: 20px;
	color: #FE6594;
}
