<!DOCTYPE html>
<html lang="en">
<head>
    <title>CallWaiting - Why CallWaiting</title>
	<!--
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Pacifico font for Logo -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Roboto Slab font for everything else -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
	
	<link rel="stylesheet" href="CallWaiting.css">
	
	<script>
	$(function(){
		$("#nav").load("/static/nav.html");
		$("#footer").load("/static/footer.html");
    });
    </script>
	-->
</head>

<body>
	<!-- navigation -->
    <nav>
        <div id="nav"></div>
    </nav>

    <!--
    <form method="POST" action="/main">
        <p>Username: </p>
        <input name="customerUsername">
        <p>Password: </p>
        <input name="customerPassword">
        <input type="submit" name='login' value="User Login">
    </form>

    <a href="/register">Get a free account</a>

    <form method="POST" action="/main">
        <p>Username: </p>
        <input name="providerUsername">
        <p>Password: </p>
        <input name="providerPassword">
        <input type="submit" name='login' value="Provider Login">
    </form>
    -->
	
    <div class = "main-text" style="width:800px;margin:auto;padding:30px 50px;background-color:#FE6594;">
		<h1>Why Callwaiting</h1>
		<p>
		While using CallWaiting for customer-business
		calls should be a no-brainer, we understand
		if there's hesitation to use the service. However,
		through our research we've concluded that this is
		the best solution for the public and businesses alike.
		</p>
		<p></p>
		<div class = "list" style=
			"background-color:#e6e6e6;
			width:700px;
			margin-top:20px;
			margin-bottom:20px;
			padding:50px;"
			>
			<p>
			Here's what we've found:
			</p>
			<p>
			-Most people prefer to resolve their issues on the phone.
			</p>
			<p></p>
			<p>
			-Automated calls frequently frustrate customers.
			</p>
			<p></p>
			<p>
			-Companies are prioritizng customer experience as
			the most important contributor to brand-loyalty.
			</p>
			<p></p>
			<p>
			-Other call management services still put customers
			on hold.
			</p>
		</div>
		<p>
		With these things in mind, CallWaiting should
		seem like the optimal communications solution for
		entrepreneurships. We minimize the frustrating
		points of communication while maintaining the
		integrity and effectiveness of verbal communication.
		</p>
		<p></p>
		<p>
		Don't take our word for it: <a href="#" style="color:blue;">Request A Demo!</a>
		We offer trials to companies who want to test out
		our product before they commit to a plan. We hope
		to talk soon!
		</p>
		<p></p>
		<em>- The CallWaiting Dev Team</em>
		<p></p>
	</div>
	
    <!--- Footer --->
    <footer>
        <div id="footer"></div>
    </footer>

</body>
</html>
